.breadCrumbs .panel-heading {
    display: none;
}
.breadCrumbs .panel {
    margin: 0px;
    border: none;
    box-shadow: none;
}
.breadCrumbs .collection.panel-body {
    padding: 0px;
}
.breadcrumb {
    display: inline-block;
}
.breadcrumb > li + li:before {
    margin-left: 5px;
    margin-right: 5px;
    content: "\f054";
    font-family: "FontAwesome";
}
.breadcrumb > li + li.active:before {
    color: #555555;
}
.breadcrumb > .active {
    font-weight: bold;
}